* {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  padding: 64px;
  color: rgb(82, 79, 79);
}

input {
  color: gray;
  font-size: 1.2rem;
  width: 100%;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  margin: 24px auto;
  overflow: hidden;
  transition: all ease 0.2s;
}
.card:hover {
  transform: scale(1.05);
}

.card figcaption {
  padding: 25px;
  text-align: center;
}
/* @media screen and (max-width: 1024px) {
  .card {
    max-width: 600px;
  }
}
@media screen and (max-width: 768px) {
  .card {
    max-width: 450px;
  }
}
@media screen and (max-width: 500px) {
  .card {
    max-width: 300px;
  }
} */
.card img {
  display: block;
  margin: 0 auto;
  max-height: 170px;
}
.small {
  position: relative;
  width: 300px;
  margin: 24px auto;
}

.medium {
  max-width: 450px;
  background-color: blue !important;
  margin: 24px auto;
}
